<header class="h-screen flex items-center justify-center">
  <div class="w-96 h-96 bg-zinc-300 flex  items-center flex-col">
    <div>
      <h6 class="font-bold text-xl pt-2">Weather App</h6>
    </div>

    <div class="relative" [formGroup] = "serarchForm">
      <input type="text" class="mt-2 w-72 border rounded-md h-8" placeholder="Enter state" formControlName="city" />
      <svg (click)="searchWeather()"  xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="absolute left-[16.5rem] top-[0.8rem] w-6 h-6 cursor-pointer" width="100" height="100" viewBox="0 0 50 50">
        <path d="M 21 3 C 11.601563 3 4 10.601563 4 20 C 4 29.398438 11.601563 37 21 37 C 24.355469 37 27.460938 36.015625 30.09375 34.34375 L 42.375 46.625 L 46.625 42.375 L 34.5 30.28125 C 36.679688 27.421875 38 23.878906 38 20 C 38 10.601563 30.398438 3 21 3 Z M 21 7 C 28.199219 7 34 12.800781 34 20 C 34 27.199219 28.199219 33 21 33 C 13.800781 33 8 27.199219 8 20 C 8 12.800781 13.800781 7 21 7 Z"></path>
        </svg>
    </div>

    <div class="w-60 h-60 bg-slate-200 mt-4 flex justify-center items-center " *ngIf="weather">
      <div class="">
        <h6 class="pb-3">Temperature - {{weather.temp}} degree C</h6>
        <h6 class="pb-3">Humidity - {{weather.humidity}} </h6>
        <h6 class="pb-3">Wind Speed  {{weather.wind}} </h6>
      </div>

    </div>
    <button (click)="searchWeather()" class="h-7 w-28 bg-green-400 mt-3 border rounded-md">Get weather </button>
    
    
    
  </div>
  

</header>